<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{112,166}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{112,166}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{112,164}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{112,164}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{112,164}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,164}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,230},{112,162}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{112,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,230},{112,162}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,230},{112,160}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{112,160}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,166},{114,160}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{114,160}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{114,162}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,666},{114,164}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,164}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,500},{114,164}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,164}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,334},{114,164}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,164}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,168},{114,164}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,164}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{114,164}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,164}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{114,164}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,164}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,230},{112,162}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{112,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,116},{112,162}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{112,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,116},{112,162}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{112,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,116},{112,162}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{112,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,116},{112,162}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{112,164}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{112,164}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{112,164}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{112,164}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,832},{112,164}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{112,164}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{112,166}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{112,166}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{112,166}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{112,166}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{112,166}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{112,166}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>walk_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,166}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{112,166}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Walk.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01dcc79f177bcb93e6b85e236b49cd63$</string>
            <key>textureFileName</key>
            <string>Walk.png</string>
        </dict>
    </dict>
</plist>
