<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>running</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.2</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>100</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>walk_0001.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0002.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0003.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0004.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0005.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0006.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>notification</key>
					<dict>
						<key>key1</key>
						<integer>1234</integer>
						<key>key2</key>
						<false/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0007.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0008.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0009.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0010.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0011.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0012.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0013.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0014.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0015.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0016.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0017.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0018.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0019.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0020.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0021.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0022.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0023.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0024.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0025.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>walk_0026.png</string>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>spritesheets</key>
		<array>
			<string>Walk.plist</string>
		</array>
		<key>format</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
